*{
    margin:0px;
    padding:0px;
    background-color: rgb(50, 160, 233);
    max-width:100%;
}

.login_box
{
    width:450px;
    height:200px;
    background: black;
    margin:90px 420px;
    padding:50px;
}
h1
{
    text-align:center;
    color:white;
    background:black
}

input
{
    text-align: center;
    background-color:white;
    border: 2px solid black;
    border-radius: 6px;
    outline: none;
    font-size: 16px;
    width: 80%;
    margin: 18px 28px; /* x margin and y margin */
    padding: 9px;
}

::placeholder{
    color:rgba(128, 128, 128, 0.932);
}

form
{
    background-color: black;
}

.btn
{
    border: 2px solid black;
    font-size: 20px;
    padding: 8px 12px;
    background: white;
    color: black;
    border-radius: 14px;
    cursor: pointer;
    margin: auto 400px;
}

.msg
{
    color:black;
    font-size: 30px;
}

.already
{
    background-color: rgb(50, 160, 233);
    max-width: 100%;
    text-align:center;
    font-size:25px;
}
