*
{
    background-color: rgb(50, 160, 233);
}

table
{
    border-collapse: collapse;
    width : 100%;
    color : black;
    font-size:25px;
    text-align: center;
}

th
{
    background-color:rgb(50, 160, 233);
    color:black;
}

.btn
{
    border: 2px solid black;
    font-size: 20px;
    padding: 8px 12px;
    background: white;
    color: black;
    border-radius: 14px;
    cursor: pointer;
    margin: 0px 650px;
}